### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [168]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [169]:
NumSchool = school_data['School ID'].count()
NumStudents = student_data['Student ID'].count()
NumStudentsPassMath = student_data.loc[student_data['math_score'] >=70,'Student ID'].count()
NumStudentsPassReading = student_data.loc[student_data['reading_score'] >=70,'Student ID'].count()
ReadingPassingPercent = NumStudentsPassReading/NumStudents
MathPassingPercent = NumStudentsPassMath/NumStudents
AvgReading = student_data['reading_score'].sum()/NumStudents
AvgMath = student_data['math_score'].sum()/NumStudents
schoolBudget = school_data['budget'].sum()

In [170]:
district_data = {'Total School': NumSchool,
                 'Total Students': NumStudents,
                 'Total Budget': schoolBudget,
                 'Average Math Score': AvgMath,
                 'Average Reading Score': AvgReading,
                 '% Passing Math': 100*MathPassingPercent,
                 '% Passing Reading': 100*ReadingPassingPercent,
                 '% Overall Passing Rate': (AvgMath+AvgReading)/2}
                
district_data_df = pd.DataFrame(data=district_data, index=[0])
mapper =  {'Total Students': '{0:,.0f}',
           'Total Budget': '{0:,.0f}'}

district_data_df.style.format(mapper)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [301]:
school_data_complete.rename(columns = {'type':'School Type'}, inplace = True) 
school_data_complete.rename(columns = {'school_name':'School Name'}, inplace = True) 
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'School Name',
       'reading_score', 'math_score', 'School ID', 'School Type', 'size',
       'budget'],
      dtype='object')

In [302]:
groupedSchoolDistrict = school_data_complete.groupby(['School Name','School Type'])
#groupedSchools =  school_data_complete.groupby(['school_name'])
groupedSchools =  school_data_complete.groupby(['School Name','School Type'])
totalStudents = groupedSchoolDistrict['Student ID'].count()
#totalStudents = groupedSchools['Student ID'].count()
totalStudents

School Name            School Type
Bailey High School     District       4976
Cabrera High School    Charter        1858
Figueroa High School   District       2949
Ford High School       District       2739
Griffin High School    Charter        1468
Hernandez High School  District       4635
Holden High School     Charter         427
Huang High School      District       2917
Johnson High School    District       4761
Pena High School       Charter         962
Rodriguez High School  District       3999
Shelton High School    Charter        1761
Thomas High School     Charter        1635
Wilson High School     Charter        2283
Wright High School     Charter        1800
Name: Student ID, dtype: int64

In [303]:
myBudget = groupedSchools['budget'].median()
myBudget

School Name            School Type
Bailey High School     District       3124928
Cabrera High School    Charter        1081356
Figueroa High School   District       1884411
Ford High School       District       1763916
Griffin High School    Charter         917500
Hernandez High School  District       3022020
Holden High School     Charter         248087
Huang High School      District       1910635
Johnson High School    District       3094650
Pena High School       Charter         585858
Rodriguez High School  District       2547363
Shelton High School    Charter        1056600
Thomas High School     Charter        1043130
Wilson High School     Charter        1319574
Wright High School     Charter        1049400
Name: budget, dtype: int64

In [304]:
myStudentBudget = groupedSchools['budget'].median()/groupedSchools['budget'].count()
myStudentBudget

School Name            School Type
Bailey High School     District       628.0
Cabrera High School    Charter        582.0
Figueroa High School   District       639.0
Ford High School       District       644.0
Griffin High School    Charter        625.0
Hernandez High School  District       652.0
Holden High School     Charter        581.0
Huang High School      District       655.0
Johnson High School    District       650.0
Pena High School       Charter        609.0
Rodriguez High School  District       637.0
Shelton High School    Charter        600.0
Thomas High School     Charter        638.0
Wilson High School     Charter        578.0
Wright High School     Charter        583.0
Name: budget, dtype: float64

In [305]:
myAvgScores = groupedSchools['reading_score','math_score'].mean()
myAvgScores   #['reading_score']

                                   reading_score  math_score
School Name           School Type
Bailey High School    District         81.033963   77.048432
Cabrera High School   Charter          83.975780   83.061895
Figueroa High School  District         81.158020   76.711767
Ford High School      District         80.746258   77.102592
Griffin High School   Charter          83.816757   83.351499
Hernandez High School District         80.934412   77.289752
Holden High School    Charter          83.814988   83.803279
Huang High School     District         81.182722   76.629414
Johnson High School   District         80.966394   77.072464
Pena High School      Charter          84.044699   83.839917
Rodriguez High School District         80.744686   76.842711
Shelton High School   Charter          83.725724   83.359455
Thomas High School    Charter          83.848930   83.418349
Wilson High School    Charter          83.989488   83.274201
Wright High School    Charter          83.955000   83.682222

In [307]:
passReaders = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('School Name')
myReaders = 100*passReaders["Student ID"].count()/groupedSchools['Student ID'].count()
myReaders

School Name            School Type
Bailey High School     District       81.933280
Cabrera High School    Charter        97.039828
Figueroa High School   District       80.739234
Ford High School       District       79.299014
Griffin High School    Charter        97.138965
Hernandez High School  District       80.862999
Holden High School     Charter        96.252927
Huang High School      District       81.316421
Johnson High School    District       81.222432
Pena High School       Charter        95.945946
Rodriguez High School  District       80.220055
Shelton High School    Charter        95.854628
Thomas High School     Charter        97.308869
Wilson High School     Charter        96.539641
Wright High School     Charter        96.611111
Name: Student ID, dtype: float64

In [308]:
passMathStudents = school_data_complete[school_data_complete['math_score'] >= 70].groupby('School Name')
myMath =100*passMathStudents["Student ID"].count()/groupedSchools['Student ID'].count()
myMath

School Name            School Type
Bailey High School     District       66.680064
Cabrera High School    Charter        94.133477
Figueroa High School   District       65.988471
Ford High School       District       68.309602
Griffin High School    Charter        93.392371
Hernandez High School  District       66.752967
Holden High School     Charter        92.505855
Huang High School      District       65.683922
Johnson High School    District       66.057551
Pena High School       Charter        94.594595
Rodriguez High School  District       66.366592
Shelton High School    Charter        93.867121
Thomas High School     Charter        93.272171
Wilson High School     Charter        93.867718
Wright High School     Charter        93.333333
Name: Student ID, dtype: float64

In [309]:
passingStudents = (myMath + myReaders)/2
passingStudents

School Name            School Type
Bailey High School     District       74.306672
Cabrera High School    Charter        95.586652
Figueroa High School   District       73.363852
Ford High School       District       73.804308
Griffin High School    Charter        95.265668
Hernandez High School  District       73.807983
Holden High School     Charter        94.379391
Huang High School      District       73.500171
Johnson High School    District       73.639992
Pena High School       Charter        95.270270
Rodriguez High School  District       73.293323
Shelton High School    Charter        94.860875
Thomas High School     Charter        95.290520
Wilson High School     Charter        95.203679
Wright High School     Charter        94.972222
Name: Student ID, dtype: float64

In [310]:
df1 = pd.DataFrame({"Total Students": totalStudents})
df1

                                   Total Students
School Name           School Type
Bailey High School    District               4976
Cabrera High School   Charter                1858
Figueroa High School  District               2949
Ford High School      District               2739
Griffin High School   Charter                1468
Hernandez High School District               4635
Holden High School    Charter                 427
Huang High School     District               2917
Johnson High School   District               4761
Pena High School      Charter                 962
Rodriguez High School District               3999
Shelton High School   Charter                1761
Thomas High School    Charter                1635
Wilson High School    Charter                2283
Wright High School    Charter                1800

In [311]:
# Creating a new DataFrame using both duration and count
df2 = pd.DataFrame({"Total School Budget": myBudget,
                   "Per Student Budget": myStudentBudget,
                   "Average Math Score": myAvgScores['math_score'],
                    "Average Reading Score": myAvgScores['reading_score'],
                   "% Passing Math": myMath,
                    "% Passing Reading": myReaders,
                   "% Overall Passing Rate": passingStudents})
df2

,,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,School Type,,,,,,,
Bailey High School,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [312]:
df3=df1.merge(df2,  left_on=('School Name','School Type'), right_on=('School Name','School Type'))
df3

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,School Type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [298]:
df3.rename(columns = {'type':'School Type'}, inplace = True) 
df3.columns

Index(['Total Students', 'Total School Budget', 'Per Student Budget',
       'Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing Rate'],
      dtype='object')

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
type,District,Charter,District,District,Charter,District,Charter,District,District,Charter,District,Charter,Charter,Charter,Charter
budget,3124928,1081356,1884411,1763916,917500,3022020,248087,1910635,3094650,585858,2547363,1056600,1043130,1319574,1049400
reading_score,81.033963,83.97578,81.15802,80.746258,83.816757,80.934412,83.814988,81.182722,80.966394,84.044699,80.744686,83.725724,83.84893,83.989488,83.955

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
type,District,Charter,District,District,Charter,District,Charter,District,District,Charter,District,Charter,Charter,Charter,Charter
budget,3124928,1081356,1884411,1763916,917500,3022020,248087,1910635,3094650,585858,2547363,1056600,1043130,1319574,1049400
reading_score,81.033963,83.97578,81.15802,80.746258,83.816757,80.934412,83.814988,81.182722,80.966394,84.044699,80.744686,83.725724,83.84893,83.989488,83.955

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
type,District,Charter,District,District,Charter,District,Charter,District,District,Charter,District,Charter,Charter,Charter,Charter
budget,3124928,1081356,1884411,1763916,917500,3022020,248087,1910635,3094650,585858,2547363,1056600,1043130,1319574,1049400
math_score,77.048432,83.061895,76.711767,77.102592,83.351499,77.289752,83.803279,76.629414,77.072464,83.839917,76.842711,83.359455,83.418349,83.274201,83.682222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [190]:
import numpy as np
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.194711  0.103328
1  bar    one  0.401545 -0.244223
2  foo    two  0.191414  1.191672
3  bar  three -1.400550 -0.524455
4  foo    two -0.202113  0.095957
5  bar    two  0.925305 -0.679215
6  foo    one -0.332856 -1.148824
7  foo  three  2.017319 -0.836446

In [189]:
grouped = df.groupby(['A','B'])
grouped.mean()

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora            69.1
       Primates              NaN

In [ ]:
#Top

In [ ]:
districtSummary = pd.DataFrame(
    groupedSchools["duration (seconds)"].sum())
international_duration.head(10)

In [ ]:
groupSch2 = school_data_complete.groupby(['school_name','type'])['school_name'].agg(
    [(groupedSchools["Student ID"].count()),
      (groupedSchools["budget"].sum())])

print(groupSch2)

In [ ]:
import numpy as np
import pandas as pd

N = 100
data = pd.DataFrame({
    'type': np.random.randint(10, size=N),
    'status': np.random.randint(10, size=N),
    'name': np.random.randint(10, size=N),
    'value': np.random.randint(10, size=N),
})

reading = np.random.random(10,)

data = data.groupby(['type', 'status', 'name'])['value'].agg(
    [('one',  np.mean), 
    ('two', lambda value: 100* ((value>32).sum() / reading.mean())), 
    ('test2', lambda value: 100* ((value > 45).sum() / value.mean()))])
print(data)

In [ ]:
schoolBudget = groupedSchools["budget"].sum()
schoolBudget

In [ ]:
studentCount = groupedSchools["Student ID"].count()
studentCount

In [ ]:
school_summary_table = pd.DataFrame({"School Type": state_counts,
                                    "Total Visit Time": state_duration})
state_summary_table.head()

In [ ]:
aggregations = {
    'type': {
        'School Type': 'type'
    },
    'Student ID': {
        'Total Students': 'count'
    }
}
#school_data_complete.groupby('school_name').aggregate(aggregations)
school_data_complete.groupby('school_name')

In [ ]:
#Top Performing Schools (By Passing Rate)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.